body{
    margin-left: 20px;
}
.chat{
    background-color :lightcyan;
    padding:25px;
    border-radius:16px;
    display:inline-block;
}
.msg {
    background-color :darkolivegreen;
    color:white;
    padding: 5px 15px;
    border-radius: 16px;
}